<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Imagens/HNI-LP.bmp" type="image/x-icon" />
    <title>@ViewBag.Title-HNI</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="K">
        <div class="navbar navbar-inverse navbar-fixed-top" id="nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("HNI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Cadastro", "Cadastro", "HNI")</li>
                        <li>@Html.ActionLink("Ajuda", "Ajuda", "HNI")</li>
                        <li>@Html.ActionLink("Bestiário", "Bestiario", "HNI")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                 <li id="FAR"class="btn btn-danger" type="button" >@Html.ActionLink("Jogar", "Login", "HNI")</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - HNI</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
