
@{
    ViewBag.Title = "Batalha";
}
@using HNI.Models
@using HNI.Dataaccess

<style type="text/css">
    body {
    background-image: url('@Url.Content("~/Background-Image.jpg")');
    }
</style>


@{
    EscolhaDAO ES = new EscolhaDAO();
    PersonagemDAO PD = new PersonagemDAO();
    CriaturaDAO CD = new CriaturaDAO();
    Lugar L = new Lugar();
    Criatura C = new Criatura();
    Questao Q = new Questao();
    Personagem P = new Personagem();
    BatalhaDAO BD = new BatalhaDAO();
    AtkEDAO AD = new AtkEDAO();
    AtkE A = new AtkE();
    int Cr;
    int DC;
    int DP;
    int UP;
    int UC;
    HttpCookie cookieDC = Request.Cookies.Get("Dano da Criatura");
    HttpCookie cookieDP = Request.Cookies.Get("Dano do Personagem");
    HttpCookie cookieUC = Request.Cookies.Get("Utilização do Personagem");
    HttpCookie cookieUP = Request.Cookies.Get("Utilização da Criatura");
    HttpCookie cookie = Request.Cookies.Get("Questao");
    HttpCookie cookieP = Request.Cookies.Get("Personagem");
    HttpCookie cookieC = Request.Cookies.Get("Criatura");
    DC = Convert.ToInt32(cookieDC.Value);
    DP = Convert.ToInt32(cookieDP.Value);
    UC = Convert.ToInt32(cookieUC.Value);
    UP = Convert.ToInt32(cookieUP.Value);
    Cr = Convert.ToInt32(cookieC.Value);
    Q.Identi = Convert.ToInt32(cookie.Value);
    Q = ES.Buscar_Questao(Q.Identi);
    int p = Convert.ToInt32(cookieP.Value);
    P = PD.BuscarP(p);
    ViewBag.PImagem = P.Imagem + "-B" + ".png";
    L = ES.Buscar_Lugar_Id(Q.Id);
    L = ES.Buscar_Lugar(L.Id);
    ViewBag.Fundo = L.Imagem + "-B" + ".png";
    Response.Cookies.Add(new HttpCookie("Lugar", Convert.ToString(L.Id)));
    ViewBag.Nome = P.Nome;
    C = CD.Buscar(Cr);
    A = BD.Buscar_Id_Atke_Personagem(P.Id, 1);
    if (A.Nome == "E")
    {
        AD.Buscar(A.Id);
        ViewBag.AtkeImagem1 = A.Imagem + ".png";
    }
    else
    {
        ViewBag.AtkeImagem1 = "AtkE_Vazio.png";
    }
    A = BD.Buscar_Id_Atke_Personagem(P.Id, 2);
    if (A.Nome == "E")
    {
        AD.Buscar(A.Id);
        ViewBag.AtkeImagem2 = A.Imagem + ".png";
    }
    else
    {
        ViewBag.AtkeImagem2 = "AtkE_Vazio.png";
    }
    A = BD.Buscar_Id_Atke_Personagem(P.Id, 3);
    if (A.Nome == "E")
    {
        AD.Buscar(A.Id);
        ViewBag.AtkeImagem3 = A.Imagem + ".png";
    }
    else
    {
        ViewBag.AtkeImagem3 = "AtkE_Vazio.png";
    }
    A = BD.Buscar_Id_Atke_Personagem(P.Id, 4);
    if (A.Nome == "E")
    {
        AD.Buscar(A.Id);
        ViewBag.AtkeImagem4 = A.Imagem + ".png";
    }
    else
    {
        ViewBag.AtkeImagem4 = "AtkE_Vazio.png";
    }
    ViewBag.CriaturaImagem = C.Imagem + ".png";
    ViewBag.CriaturaVida = C.Hp - DP;
    ViewBag.CriaturaMana = C.Mana - UC;
    ViewBag.PersonagemVida = P.Hp - DC;
    ViewBag.PersonagemMana = P.Mana - UP;


}


<style type="text/css">
            .Acron2{
                        background-image:url("/Imagens/@ViewBag.Fundo");
                        color:black;
                        font-family: 'Baskerville Old Face', 'Arial Narrow', Arial, sans-serif;
                        font-size: large;
                        border: 3px solid Darkblue;
                             }
</style>

<div class="row">
    <hr />
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="jumbotron Acron">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="jumbotron Acron2">
                        <div class="row">
                            <div class="Row ">
                                <div class="col-md-2">
                                    <img src="/Imagens/@ViewBag.PImagem"
                                         width="200" height="400" />
                                    <p class="Mostral1">Vida:@ViewBag.PersonagemVida<p />
                                    <p class="Mostral2">Mana:@ViewBag.PersonagemMana<p />
                                </div>
                                <div class="col-md-2 col-md-offset-7 text-center">
                                    <img src="/Imagens/@ViewBag.CriaturaImagem"
                                         width="200" height="400" />
                                    <p class="Mostral1">Vida:@ViewBag.CriaturaVida<p />
                                    <p class="Mostral2">Mana:@ViewBag.CriaturaMana<p />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <form id="Escolha" action="@Url.Action("Batalhar", "HNI")" class="form-horizontal">
                    <div class="Row">
                        <div class="col-md-3 text-center">
                            <div class="jumbotron Acaobtn2">
                                <a class="btn Acaobtn1 " name="Acoes" href="@Url.Action("Batalhar", "HNI", new { @Acao = 1 })">Atacar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="jumbotron Acaobtn2">
                            <a class="btn Acaobtn1 " name="Acoes" href="@Url.Action("Batalhar", "HNI", new { @Acao = 2 })">Defender</a>
                        </div>
                    </div>
                    <div class="Row">
                        <div class="col-md-3 text-center">
                            <div class="jumbotron Acaobtn2">
                                <a class="btn Acaobtn1 " name="Acoes" href="@Url.Action("Batalhar", "HNI", new { @Acao = 3})">Fugir</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="jumbotron Acaobtn2">
                                <button type="submit" class="btn Acaobtn1" data-toggle="modal" data-target="#modal">Ataques Especiais</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content Acaobtn1">
            <div class="modal-header">
                <h4 class="modal-title Acaobtn1">Ataques Especiais:</h4>
            </div>
            <div class="modal-body Acaobtn2">
                <div class="row text-center">
                    <a class="btn  Acaobtn2" href="@Url.Action("AtaqueE", "HNI", new { @Id = 1})"><img src="/Imagens/@ViewBag.AtkeImagem1" width="50" height="50" /></a>
                    <a class="btn  Acaobtn2" href="@Url.Action("AtaqueE", "HNI", new { @Id = 2})"><img src="/Imagens/@ViewBag.AtkeImagem2" width="50" height="50" /></a>
                    <a class="btn  Acaobtn2" href="@Url.Action("AtaqueE", "HNI", new { @Id = 3})"><img src="/Imagens/@ViewBag.AtkeImagem3" width="50" height="50" /></a>
                    <a class="btn  Acaobtn2" href="@Url.Action("AtaqueE", "HNI", new { @Id = 4})"><img src="/Imagens/@ViewBag.AtkeImagem4" width="50" height="50" /></a>
                </div>
            </div>
            <button type="button" class="btn Acaobtn2" data-dismiss="modal">X</button>
        </div>
    </div>
</div>



