
@{
    ViewBag.Title = "Escolha";
}
@using HNI.Models
@using HNI.Dataaccess

<style type="text/css">
    body {
    background-image: url('@Url.Content("~/Background-Image.jpg")');
    }
</style>


@{
    EscolhaDAO ES = new EscolhaDAO();
    PersonagemDAO PD = new PersonagemDAO();
    Lugar L = new Lugar();
    Questao Q = new Questao();
    Resposta A = new Resposta();
    Personagem P = new Personagem();
    HttpCookie cookie = Request.Cookies.Get("Questao");
    Q.Id = Convert.ToInt32(cookie.Value);
    Q = ES.Buscar_Questao(Q.Id);
    ViewBag.Questao = Q.Descricao;
    int p = Q.Personagem.Id;
    P = PD.BuscarP(p);
    ViewBag.PImagem = P.Imagem + ".png";
    L = ES.Buscar_Lugar(Q.Id);
    ViewBag.Fundo = L.Imagem + ".jpg";
    A = ES.Buscar_Respota(Q.Id, 0);
    if (A.Existe == true)
    {


        ViewBag.Resposta01 = A.Descricao;
        ViewBag.Resposta01Valor = A.Identidade;
        A = ES.Buscar_Respota(Q.Id, 1);
        if (A.Existe == true)
        {
            ViewBag.Resposta02 = A.Descricao;
            ViewBag.Resposta02Valor = A.Identidade;

        }
        else
        {
            ViewBag.Resposta02 = "";
            ViewBag.Resposta02Valor = "0";
        }
        A = ES.Buscar_Respota(Q.Id, 2);
        if (A.Existe == true)
        {
            ViewBag.Resposta03 = A.Descricao;
            ViewBag.Resposta03Valor = A.Identidade;
        }
        else
        {
            ViewBag.Resposta03 = "";
            ViewBag.Resposta03Valor = "0";
        }
        A = ES.Buscar_Respota(Q.Id, 3);
        if (A.Existe == true)
        {
            ViewBag.Resposta04 = A.Descricao;
            ViewBag.Resposta04Valor = A.Identidade;
        }
        else
        {
            ViewBag.Resposta04 = "";
            ViewBag.Resposta04Valor = "0";
        }


    }
    else
    {
        A = ES.Buscar_Respota(Q.Id, 1);
        ViewBag.Resposta01 = A.Descricao;
        ViewBag.Resposta01Valor = A.Identidade;
        if (A.Existe == true)
        {
            ViewBag.Resposta01 = A.Descricao;
            ViewBag.Resposta01Valor = A.Identidade;

        }
        else
        {
            ViewBag.Resposta01 = "";
            ViewBag.Resposta01Valor = "0";
        }
        A = ES.Buscar_Respota(Q.Id, 2);
        if (A.Existe == true)
        {
            ViewBag.Resposta02 = A.Descricao;
            ViewBag.Resposta02Valor = A.Identidade;
        }
        else
        {
            ViewBag.Resposta02 = "";
            ViewBag.Resposta02Valor = "0";
        }
        A = ES.Buscar_Respota(Q.Id, 3);
        if (A.Existe == true)
        {
            ViewBag.Resposta03 = A.Descricao;
            ViewBag.Resposta03Valor = A.Identidade;
        }
        else
        {
            ViewBag.Resposta03 = "";
            ViewBag.Resposta03Valor = "0";
        }
        A = ES.Buscar_Respota(Q.Id, 4);
        if (A.Existe == true)
        {
            ViewBag.Resposta04 = A.Descricao;
            ViewBag.Resposta04Valor = A.Identidade;
        }
        else
        {
            ViewBag.Resposta04 = "";
            ViewBag.Resposta04Valor = "0";
        }

    }

    Resposta Re = new Resposta();
}


<style type="text/css">
            #Acron2{
                        background-image:url("/Imagens/@ViewBag.Fundo");
                        color:black;
                        font-family: 'Baskerville Old Face', 'Arial Narrow', Arial, sans-serif;
                        font-size: large;
                        border: 3px solid Darkblue;
                             }
</style>

<div class="row">
    <hr />
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="jumbotron" id="Acron">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="jumbotron" id="Acron2">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="Row col-lg-offset-1 ">
                                    <img src="/Imagens/@ViewBag.PImagem"
                                         width="190" height="220" />
                                </div>
                                <div class="Row">
                                    <div class="col-md-12  text-center">
                                        <div id="Acron6" class="jumbotron">
                                            <p>@ViewBag.Questao</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <form id="Escolha" action="@Url.Action("Escolher", "HNI")" class="form-horizontal">
                    <div class="Row">
                        <div class="col-md-6 text-center">
                            <div class="jumbotron" id="Acron3">
                                <button class="btn" name="Resposta1" id="Acron3">@ViewBag.Resposta01</button>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="jumbotron" id="Acron3">
                            <button class="btn" name="Resposta2"  id="Acron3">@ViewBag.Resposta02</button>
                        </div>
                    </div>
                    <div class="Row">
                        <div class="col-md-6 text-center">
                            <div class="jumbotron" id="Acron3">
                                <button class="btn" name="Resposta3"  id="Acron3">@ViewBag.Resposta03</button>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="jumbotron" id="Acron3">
                                <button class="btn" name="Resposta4"  id="Acron3">@ViewBag.Resposta04</button>
                            </div>
                        </div>
                    </div>
                    <script type='text/javascript'>

                        $(document).ready(function () {
                            $('button[name=Resposta1]').click(function () {
                              

                                        Response.Cookies.Add(new HttpCookie("Resposta", Convert.ToString(ViewBag.Resposta01Valor)));
                                    
                                $('form').submit();

                            });
                        });
                        $(document).ready(function () {
                            $('button[name=Resposta2]').click(function () {
                              

                                   Response.Cookies.Add(new HttpCookie("Resposta", Convert.ToString(ViewBag.Resposta02Valor)));
                              
                                $('form').submit();

                            });
                        });

                        $(document).ready(function () {
                            $('button[name=Resposta3]').click(function () {
                                  
                                        Response.Cookies.Add(new HttpCookie("Resposta", Convert.ToString(ViewBag.Resposta03Valor)));
                                    
                                $('form').submit();

                            });
                        });

                        $(document).ready(function () {
                            $('button[name=Resposta4]').click(function () {
                               

                                     Response.Cookies.Add(new HttpCookie("Resposta", Convert.ToString(ViewBag.Resposta04Valor)));
                              
                                $('form').submit();

                            });
                        });
                    </script>
                </form>
                <div class="row">
                    <div class="col-md-2 col-md-offset-5 text-center">
                        <p><button type="submit" id="Acron5" class="btn btn-default" data-toggle="modal" data-target="#modal">Opções</button><p />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Opções:</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <a class="btn btn-primary" id="FAR2" href="~/HNI/Inventario">Inventario</a>
                    <a class="btn btn-warning" id="FAR2" href="~/HNI/Mapa">Mapa</a>
                    <a class="btn alert-success" id="FAR2" href="~/HNI/Mapa">Salvar</a>
                </div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>

