
@{
    ViewBag.Title = "Escolha";
}
@using HNI.Models
@using HNI.Dataaccess

<style type="text/css">
    body {
    background-image: url('@Url.Content("~/Background-Image.jpg")');
    }
</style>


@{
    EscolhaDAO ES = new EscolhaDAO();
    PersonagemDAO PD = new PersonagemDAO();
    Lugar L = new Lugar();
    Questao Q = new Questao();
    Resposta A = new Resposta();
    Personagem P = new Personagem();
    HttpCookie cookie = Request.Cookies.Get("Questao");
    Q.Identi = Convert.ToInt32(cookie.Value);
    Q = ES.Buscar_Questao(Q.Identi);
    ViewBag.Questao = Q.Descricao;
    int p = Q.Personagem.Id;
    P = PD.BuscarP(p);
    ViewBag.PImagem = P.Imagem + ".png";
    L = ES.Buscar_Lugar_Id(Q.Id);
    L = ES.Buscar_Lugar(L.Id);
    ViewBag.Fundo = L.Imagem + ".jpg";
    Response.Cookies.Add(new HttpCookie("Lugar", Convert.ToString(L.Id)));
    Q.Identi = Convert.ToInt32(cookie.Value);
    ViewBag.Nome = P.Nome;
    A = ES.Buscar_Respota(Q.Identi, 0);
    if (A.Existe == true)
    {


        ViewBag.Resposta01 = A.Descricao;
        ViewBag.Resposta01Valor = A.Identidade;
        A = ES.Buscar_Respota(Q.Identi, 1);
        if (A.Existe == true)
        {
            ViewBag.Resposta02 = A.Descricao;
            ViewBag.Resposta02Valor = A.Identidade;

        }
        else
        {
            ViewBag.Resposta02 = "";
            ViewBag.Resposta02Valor = "0";
        }
        A = ES.Buscar_Respota(Q.Identi, 2);
        if (A.Existe == true)
        {
            ViewBag.Resposta03 = A.Descricao;
            ViewBag.Resposta03Valor = A.Identidade;
        }
        else
        {
            ViewBag.Resposta03 = "";
            ViewBag.Resposta03Valor = "0";
        }
        A = ES.Buscar_Respota(Q.Identi, 3);
        if (A.Existe == true)
        {
            ViewBag.Resposta04 = A.Descricao;
            ViewBag.Resposta04Valor = A.Identidade;
        }
        else
        {
            ViewBag.Resposta04 = "";
            ViewBag.Resposta04Valor = "0";
        }


    }
    else
    {
        A = ES.Buscar_Respota(Q.Identi, 1);
        ViewBag.Resposta01 = A.Descricao;
        ViewBag.Resposta01Valor = A.Identidade;
        if (A.Existe == true)
        {
            ViewBag.Resposta01 = A.Descricao;
            ViewBag.Resposta01Valor = A.Identidade;

        }
        else
        {
            ViewBag.Resposta01 = "";
            ViewBag.Resposta01Valor = "0";
        }
        A = ES.Buscar_Respota(Q.Identi, 2);
        if (A.Existe == true)
        {
            ViewBag.Resposta02 = A.Descricao;
            ViewBag.Resposta02Valor = A.Identidade;
        }
        else
        {
            ViewBag.Resposta02 = "";
            ViewBag.Resposta02Valor = "0";
        }
        A = ES.Buscar_Respota(Q.Identi, 3);
        if (A.Existe == true)
        {
            ViewBag.Resposta03 = A.Descricao;
            ViewBag.Resposta03Valor = A.Identidade;
        }
        else
        {
            ViewBag.Resposta03 = "";
            ViewBag.Resposta03Valor = "0";
        }
        A = ES.Buscar_Respota(Q.Identi, 4);
        if (A.Existe == true)
        {
            ViewBag.Resposta04 = A.Descricao;
            ViewBag.Resposta04Valor = A.Identidade;
        }
        else
        {
            ViewBag.Resposta04 = "";
            ViewBag.Resposta04Valor = "0";
        }

    }

}


<style type="text/css">
            .Acron2{
                        background-image:url("/Imagens/@ViewBag.Fundo");
                        color:black;
                        font-family: 'Baskerville Old Face', 'Arial Narrow', Arial, sans-serif;
                        font-size: large;
                        border: 3px solid Darkblue;
                             }
</style>

<div class="row">
    <hr />
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="jumbotron Acron">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="jumbotron Acron2">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="Row col-lg-offset-1 ">
                                    <img src="/Imagens/@ViewBag.PImagem"
                                         width="190" height="220" />
                                </div>
                                <div class="Row">
                                    <div class="col-md-12  text-center">
                                        <div class="jumbotron Acron6 ">
                                            <p>@ViewBag.Nome : @ViewBag.Questao</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <form id="Escolha" action="@Url.Action("Escolher", "HNI")" class="form-horizontal">
                    <div class="Row">
                        <div class="col-md-6 text-center">
                            <div class="jumbotron Acron3">
                                @*<button class="btn" name="Resposta1" onclick="button.clicked" id="Acron3">@ViewBag.Resposta01</button>*@
                                <a class="btn Acron3 " id="Resposta1" name="Resposta" href="@Url.Action("Escolher", "HNI", new { @resposta = ViewBag.Resposta01Valor })">@ViewBag.Resposta01</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="jumbotron Acron3">
                            <a class="btn Acron3 " id="Resposta2" name="Resposta" href="@Url.Action("Escolher", "HNI", new { @resposta = ViewBag.Resposta02Valor })">@ViewBag.Resposta02</a>
                        </div>
                    </div>
                    <div class="Row">
                        <div class="col-md-6 text-center">
                            <div class="jumbotron Acron3">
                                <a class="btn Acron3 " id="Resposta3" name="Resposta" href="@Url.Action("Escolher", "HNI", new { @resposta = ViewBag.Resposta03Valor })">@ViewBag.Resposta03</a>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="jumbotron Acron3">
                                <a class="btn Acron3 " id="Resposta4" name="Resposta" href="@Url.Action("Escolher", "HNI", new { @resposta = ViewBag.Resposta04Valor })">@ViewBag.Resposta04</a>
                            </div>
                        </div>
                    </div>

                </form>
                <div class="row">
                    <div class="col-md-2 col-md-offset-5 text-center">
                        <p><button type="submit" class="btn btn-default Acron5 " data-toggle="modal" data-target="#modal">Opções</button><p />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Opções:</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <a class="btn btn-primary FAR2" href="~/HNI/Inventario">Inventario</a>
                    <a class="btn btn-warning FAR2" href="~/HNI/Mapa">Mapa</a>
                    <a class="btn alert-success FAR2" href="@Url.Action("Salvar", "HNI")">Salvar</a>
                    <a class="btn btn-default FAR2" href="@Url.Action("Loja", "HNI")">Loja</a>
                </div>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>

