
@{
    ViewBag.Title = "Loja";
}
}
@using HNI.Models
@using HNI.Dataaccess

<style type="text/css">
    body {
    background-image: url('@Url.Content("~/Background-Image.jpg")');
    }
</style>


@{

    Item item = new Item();
    HttpCookie cookie = Request.Cookies.Get("Operacao");
    LojaDAO Loja = new LojaDAO();
    int O;
    O = Convert.ToInt32(cookie);
    if (O == 1)
    {
        ViewBag.Operacao = "Comprar";
        ViewBag.ViewBag.Item_Valor = 5;
        ViewBag.ViewBag.Item_Final = 23;
    }
    /* if (O == 2)
     {
         ViewBag.Operacao = "Vender";
         ViewBag.ViewBag.Item_Valor = 5;


     }
     */



}


<style type="text/css">
    .Acron2 {
        background-image: url("/Imagens/Loja-01.png");
        color: black;
        font-family: 'Baskerville Old Face', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        border: 3px solid Darkblue;
    }
</style>

<div class="row">
    <hr />
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="jumbotron Acron">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="jumbotron Acron2">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="Row col-lg-offset-1 ">
                                    <img src="/Imagens/Cassius-01.png"
                                         width="190" height="220" />
                                </div>
                                <div class="Row">
                                    <div class="col-md-12  text-center">
                                        <div class="jumbotron Acron6 ">
                                            <p>@ViewBag.Nome : O Que Você quer @ViewBag.Operacao ?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <form id="Itens" action="@Url.Action("Item_Loja", "HNI")" class="form-horizontal">
                    <div class="col-md-6  text-center">
                        <a class="btn btn-success FAR2 " href="@Url.Action("Item_Loja", "HNI", 1)">Comprar</a>

                    </div>
                    <div class="col-md-6  text-center">
                     @{  /* <a class="btn btn-danger FAR2 " href="@Url.Action("Item_Loja", "HNI", 2)">Vender</a>*/
                     }

                    </div>
                </form>
                <form id="Operacao" action="@Url.Action("Operacao", "HNI")" class="form-horizontal">
                    @{
                        do
                        {
                            if (O == 1)
                            {
                                item = Loja.Buscar_Item_Vendedor(ViewBag.Item_Valor);
                                <div class="col-md-2  text-center">
                                    <button type="submit" class="btn btn-default Acron5 " data-toggle="modal" data-target="#modal1" value="@{item.Id} "> <img src="/Imagens/@item.Imagem" width="50" height="50" /></button>
                                </div>
                                            ViewBag.Item_Valor = ViewBag.Item_Valor + 1;
                                        }

                        } while (ViewBag.Item_Valor < ViewBag.Item_Final);

                    }
                </form>
                <div class="row">

                    <div class="col-md-2 col-md-offset-5 text-center">
                        <a class="btn btn-danger FAR2 " href="@Url.Action("Escolha", "HNI")">Voltar</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tem Certeza ?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-center">
                    <p>Item : @item.Nome , Preço : @item.Valor</p>
                    <a class="btn btn-danger FAR2 " href="@Url.Action("Operacao", "HNI", item.Id )">Sim</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                </div>
            </div>
        </div>
    </div>
</div>
